* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

p {
  margin-bottom: 0.7rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.bloque {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  justify-content: center;
}

/* FUENTES */

.code {
  font-family: 'Fira Code', sans-serif;
}

.bebas {
  font-family: "Bebas Neue", cursive;
}

.strong {
  font-weight: bold;
}

.display {
  font-size: clamp(5rem, 10vw, 7rem);
  margin: 0;
  line-height: clamp(5rem, 10vw, 6.4rem);
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  border-bottom: 0.25rem solid;
  width: 108%;
  position: absolute;
  bottom: 4px;
  border-radius: 5px;
  left: -4%;
  filter: contrast(1.2);
}

/* GRID */

.p1 {
  padding: 1rem;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}
.pb4{
  padding-bottom: 4rem;
}

/* STYLE */

.desktop .overlay-dark:before{
  position: absolute !important;
  content: "" !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,.4) 30%, var(--white));
  background-blend-mode: multiply;
  opacity: 1;
  z-index: 0;
}

.desktop .overlay-light:before{
  position: absolute !important;
  content: "" !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.4) 30%, var(--white));
  background-blend-mode: multiply;
  opacity: 1;
  z-index: 0;
}

.featured{
  padding: 0.05rem 0.3rem;
  border-radius: 5px;
}