.btn {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.btn.lg {
  font-size: 1.3rem;
}

.btn.xs {
  font-size: 0.75rem;
}

.btn.primary {
  background-color: var(--primary-light);
}

.btn.primary:hover {
  background-color: var(--secondary-light);
}

.btn.secondary {
  background-color: var(--secondary-light);
}
.btn.secondary:hover {
  background-color: var(--primary-light);
}
