:root {
  --tag-wordpress: rgba(255, 86, 190, 0.8);
  --tag-kadence: rgba(255, 145, 0, 0.8);
  --primary: #ff9a62;
  --primary-light: #ffbe96;
  --secondary: #8faab5;
  --secondary-light: #d0dbdf;
  --text-dark: #333333;
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}
