.contacto{
  margin-bottom: 3rem;
}

.contacto .content .text{
  margin-bottom: 2rem;
}

.contacto .content p{
  margin-bottom: 2rem;
}

.contacto .content .title{
  margin: 1rem auto ;
}

.contacto .content img{
  max-width: 66px;
  margin: 0 auto;
}

.contacto .form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: column;
}

.contacto .content h4,
.contacto .content h2{
  text-align: center;
}

.contacto h4{
  font-size: clamp(2rem, 10vw, 7rem);
  font-weight: normal;
  margin-top: 3rem;
}

/* DESKTOP */

.desktop .contacto .content img{
  max-width: 100px;
}

.desktop .contacto .content{
  background-color: var(--white);
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
}