* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 10;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  margin: 0;
  width: 40%;
  position: fixed;
  top: 100%;
  right: 4rem;
  z-index: 9;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  list-style: none;
}

.navbar.dropdown.open ul {
  opacity: 1;
  bottom: 10rem;
  top: auto;
  transition: all 0.4s ease-in-out;
}

.navbar.dropdown.closed ul {
  opacity: 0;
  transition: all 0.4s ease-in-out;
  bottom: 10rem;
  top: auto;
}

.navbar ul a {
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.navbar .logo-zone {
  display: flex;
  align-items: center;
}

.navbar .logo-zone:hover .name {
  color: var(--primary);
}

.navbar .logo-zone .texto {
  display: flex;
  flex-direction: column;
  font-family: "Fira Code", monospace;
}

.navbar .logo-zone .texto .name {
  font-weight: 800;
  font-size: 1.3rem;
  transition: all 0.2s ease;
}

.navbar .logo-zone .texto .desc {
  font-weight: 300;
  font-size: 0.8rem;
}

.navbar .logo-zone .logo {
  height: 2.4rem;
  margin-right: 1rem;
}

.navbar button {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  z-index: 100;
}

.navbar button img {
  height: 2rem;
}

/* Estilos para PC */

.desktop .navbar {
  height: 80px;
}
.desktop .navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  min-height: auto;
  width: auto;
  margin-left: auto;
  top: 0;
  box-shadow: none;
  backdrop-filter: none;
  background-color: transparent;
  right: inherit;
}

.desktop .navbar ul a {
  background-color: antiquewhite;
  width: auto;
  padding: 0.5rem;
  text-align: center;
  color: black;
}

.desktop .navbar .nav-button {
  display: none;
}
